{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
{% endblock %}


{% block app_content %}
<div class="container">
	<div class="row page-info" style="padding: 20px 0px;">
	<div class="col-12 col-lg-4">
		<h1>privacy</h1>
	</div>
	<div class="col-12 col-lg-8" style="margin-top: 50px;">
		<p>in order to access features within the spotify SDK, this application needs your permission to enable user scopes (such as 'playlist-modify-public' which allows us to create playlists and add tracks on your behalf). we do not store or distribute any of your information. permission can be revoked through <a href="https://www.spotify.com/us/account/apps/" class="hyperlink-black">this page</a>.</p>
		<p style="font-weight: bold;">note: due to limitations with the spotify SDK, this app will only work for spotify premium users.</p>
	</div>
	</div>


	<div class="row page-info">
	<div class="col-12 col-lg-4">
		<h1>cafégram</h1>
	</div>
	<div class="col-12 col-lg-8" style="margin-top: 25px;">
		<p>cafégram aims to offer users a relaxing and enjoyable environment, merging the joy of music with the coziness of a cafe setting. It serves as a digital retreat where users can unwind, discover new music, and experience a cafe-like ambiance from the comfort of their own devices. It provides an immersive experience by simulating a cafe environment virtually, allowing users to explore and listen to music from spotify's extensive library.</p>
		<p>due to copyright restrictions, the music featured on cafélib is not currently available for public access. however, cafélib serves as a proof of concept, offering a glimpse into the potential of the web app.</p>
	</div>
	</div>

	<div class="row page-info">
	<div class="col-12 col-lg-4">
		<h1>discover</h1>
	</div>
	<div class="col-12 col-lg-8" style="margin-top: 50px;">
		<p>explore a world of new music! discover fresh tunes curated just for you, aligning with your unique preferences. dive into a diverse array of tracks meticulously selected to match your music taste, providing a delightful journey through various genres and styles.</p>
	</div>
	</div>

	<div class="row page-info">
	<div class="col-12 col-lg-4">
		<h1>create</h1>
	</div>
	<div class="col-12 col-lg-8" style="margin-top: 50px;">
		<p>shape your own music playlist effortlessly! handpick your beloved tracks or artists to design a playlist that resonates with your musical soul. tailor your playlist further by tweaking attributes such as energy and popularity to craft the perfect mix of melodies that harmonize with your mood and preferences.</p>
	</div>
	</div>
</div>

{% endblock %}