{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='icon.png') }}">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - cafégram
    {% else %}
        Cafegram
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#CCCCCC;" href="{{ url_for('main.home') }}">cafégram</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a style="color:#CCCCCC" href="{{ url_for('main.home') }}">home</a></li>
                    <li><a style="color: #CCCCCC" href="{{ url_for('main.about') }}">about</a></li>
                    <li><a style="color: #CCCCCC" href="{{ url_for('main.discover') }}">discover</a></li>
                    <li><a style="color:#CCCCCC" href="{{ url_for('main.create') }}">create</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:#CCCCCC" href="" id="pomodoroTimer">timer</a></li>
                </ul>
            </div>
        </div>
        <div id="timerModal" class="modal">
            <div class="timer-modal-content">
                <span class="close" style="position: absolute; top: 10px; right: 20px;" data-dismiss="modal">&times;</span>
                <h1 class="text-center" style="font-weight: bold; margin-bottom: 0px;">pomodoro timer</h1>
                <form id="timerForm" class="text-center">
                    <input type="number" id="minutes" name="minutes" min="1" max="999" placeholder="25" value="25" style="margin-top: 10px; margin-right: 5px; width: 40px;">
                    <label for="minutes" style="font-weight: bold">minutes</label>
                </form>
                <div id="timer-display" class="text-center">
                </div>
                <div id="timer-buttons" class="text-center">
                    <button type="button" class="btn btn-default" id="startTimer" style="color: #CCCCCC; background-color: #222020; margin-top: 5px; margin-left: 5px; width: 50px;">start</button>
                </div>
                <div id="timer-description" class="text-center">
                    <p style="margin-top: 10px; margin-bottom: 0px;">the pomodoro technique is a time management method where you set a timer for a chosen duration. when it ends, a chime sounds and your audio pauses, signaling a break time.</p>
                </div>
                <audio id="alarmSound" src="/static/audio/alarm.mp3" preload="auto"></audio>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="wrapper">
    {% block app_content %}
    {% endblock %}
</div>
<footer class="text-center footer">
    <div class="container-fluid">
        <small>
            created by <a href="https://linktr.ee/ethannlin" target="_blank">ethan lin</a>
        </small>
    </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script src="{{url_for('static', filename='js/pomodoro.js')}}"></script>
{% endblock %}